*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    background: linear-gradient(to left,pink,purple);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 400px;
    width: 400px;
    background-color:rgb(245, 167, 245);
    border-radius: 10px;
    position: relative;
    border-radius: 20px;
   
}
.inner>img{

    width: 100%;
}

.inner>#b1{
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border-radius: 6px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    font-weight: bold;
    cursor: pointer;

}
.inner>#b2{
    padding: 10px 20px;
    background-color: rgb(180, 12, 124);
    color: white;
    border-radius: 6px;
    border: none;
    position: absolute;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 150px;
    bottom: 10px;
    cursor: pointer;
}
.inner>h1{
    text-align: center;
    text-transform: capitalize;
    
}
.inner>p{
    text-align:center;
    line-height: 20px;
}
