*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.outer{
    background-color: rgb(170, 208, 209);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.outer> .inner{
    background-color: aliceblue;
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.5);
    
}
.form-group >label{
    display: block;
}
.form-group>input{
    display: block;
}
header>h1{
 
    font-style: italic;
    margin-bottom: 8px;
    text-align: center;

}
header>p{
    font-size: 12px;
    font-style: italic;
    color: cadetblue;
    font-weight: bold;
    text-align: center;
    text-decoration: solid;
    text-decoration-color: aqua;
}
main{
    margin-top: 10px;
}
.form-group{
    margin-bottom: 10px;
}
.form-group>input{
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border-radius: 10px;
    border-style: 1px solid #ccc;
}
.form-group>label{
    font-weight: bold;
}
.form-group>button{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    margin-top: 5px;
    background-color: rgb(56, 139, 139);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.form-group>button:hover{
    background-color: rgb(12, 99, 99);
}
footer>#p1{
    display: inline-block;
    font-size: 12px;
    color: rgb(66, 102, 90);
    cursor: pointer;
}
footer>#p1:hover{
    color: rgb(115, 212, 212);
}   
footer>#p2{
    display: inline-block;
    font-size: 14px;
    color: rgb(37, 206, 149)
}

