*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    background: linear-gradient(to right,rgb(130, 130, 228),rgb(224, 130, 114));
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer>.middle
{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left,black,blue);
}
.outer>.middle>.inner{
    height: 100px;
    width: 100px;
    border: 2px solid red;
    background: linear-gradient(to left,rgb(10, 184, 33),rgb(52, 150, 207));
    
    transition: all 2s ease-in 2s;
    
}

.outer>.middle>.inner:hover{
    transform: rotate(360deg) scale(2) translateX(200px);
    /* transform: translateX(200px); */
    /* transform: translateX(-200px); */
    /* transform: translateY(200px); */
    /* transform: translate(200px,200px); */
    /* transform: translate(-200px,-200px); */
    /* transform: translate(-200px,200px); */
    /* transform: scale(2); */
    /* transform: skew(180deg); */
    /* transform: skewY(180deg); */
    /* transform: skewX(180deg); */
    /* transform-origin: top; */
    /* transform-origin: center; */
    transform-origin: left;
}