*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.inner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.round{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 3px solid red;
    border-radius: 50%;
    transition: all 1s ease-in 1s;
}
.inner> #id1:hover{
    transform: translateX(90vw);
    background-color: aqua;
}
.inner> #id2:hover{
    transform: translateX(90vw) rotate(90deg)skew(45deg);
    background-color:brown;

    border-color: rgb(187, 93, 187);
}
.inner> #id3:hover{
    transform: translateX(90vw)scale(2) rotate(90deg);
    background-color: rgb(95, 233, 125);
    border-radius: 0%;
    border-color: rgb(155, 223, 87);
}
.inner> #id4:hover{
    /* transform: translate(90vw,-90vw) rotate(90deg); */
    background-color: rgb(221, 92, 167);
    transform: translateX(90vw)scale(2) rotate(190deg) skewX(90deg);

}