*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.imageGallery{
    height: 100vh;
    background: linear-gradient(to left,brown,white);
    
}
.imageGallery>h1{
    text-align: center;
    padding-top: 40px;
}
.card{
    display: grid;
    grid-template-columns: 300px 300px 400px;
    grid-auto-rows: 150px;
   
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding-top: 20px;
    
.box{
    /* background-image: url(https://images.pexels.com/photos/302743/pexels-photo-302743.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    
    border: 1px solid black;
    
    
    transition:background-color 0.3s ease;
    position: relative;
    background-attachment:fixed;
}
.box>img{
    height: 100%;
    width: 100%;
    background-attachment:fixed;
}
.box>h4{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    
}
   
    
}
#box1{
    grid-row: span 2  ;
    /* background-image: url(https://images.pexels.com/photos/688660/pexels-photo-688660.jpeg?auto=compress&cs=tinysrgb&w=600); */
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
    overflow: auto;
   
}
#box1::-webkit-scrollbar{
    overflow: hidden;
    /* background-image: url(https://images.pexels.com/photos/302743/pexels-photo-302743.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
}


#box4{
    grid-column: span 2;
}

